.Card{
     background-color: #fff;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 2px 3px 8px rgba(0,0,0,0.2);
     width: 400px;
     float: left;
     margin-right: 20px;
     transition: 0.2s ease-in;
     will-change: transform, box-shadow; 
     margin-bottom: 20px;
 }

 .Card:hover {
      transform: translate(-3px);
      box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
 }

